html {
  font-size: 20px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: font-family: 'Merriweather', serif;
  background-color: #F0F0F0;
}

h1{
	margin: 0;
    padding: 0 225px;  
	color: #F0F0F0;
	width: 1000px;
	font-family: 'Baloo Tammudu 2', cursive;
	font-size: 40px;
	text-shadow: 3px 3px 1px black;
}

h2{
	color:	#F0F0F0;
	width: 1000px;
	font-family: 'Baloo Tammudu 2', cursive;
	font-size: 30px;
}

body{
  width: 800px;
  margin: 100 auto;
  background-color: #F0F0F0; /*框框背景顏色*/
  padding: 20px 20px 20px 20px; /*框框內部間距 上 右 下 左 */
  border: 1px solid black; /* 框線粗度 */
}

img {
  display: block;
  margin: 0 auto;
}
